# Reading tsv file

What we are doing is that we are reading the tsv file into a list. Then, we only take the column that has the tweets ids and put it in a separate txt file without the header to get it ready for hydrating.

In [22]:
import csv
import pandas as pd
import zipfile

In [24]:
with zipfile.ZipFile("saudi_arabia_tbcov.zip","r") as zip_ref:
    zip_ref.extractall()

In [39]:
col_list = ["tweet_id", "date_time", "lang", "sentiment_label", "sentiment_conf", 
            "gender_label", "geo_country_code", "geo_state", "geo_county", "geo_city"]
chunksize = 10 ** 6
# for chunk in pd.read_csv('saudi_arabia_tbcov.tsv', sep = "\t",header = 0, usecols = col_list, error_bad_lines = False, dtype='unicode', engine = "python", chunksize = chunksize):
#     print(len(chunk))
temp = pd.read_csv('saudi_arabia_tbcov.tsv', sep = "\t", header = 0, usecols = col_list, dtype='unicode', chunksize = chunksize)
df = pd.concat(temp, ignore_index=True)

In [45]:
df.head()

,tweet_id,date_time,lang,sentiment_conf,sentiment_label,gender_label,geo_country_code,geo_state,geo_county,geo_city
0,1223395673850118145,2020-02-01T00:00:32,en,0.372,1,NaN,NaN,NaN,NaN,NaN
1,1223396003807522816,2020-02-01T00:01:51,en,0.718,0,NaN,NaN,NaN,NaN,NaN
2,1223396128328052736,2020-02-01T00:02:21,en,0.938,-1,NaN,NaN,NaN,NaN,NaN
3,1223397447482953728,2020-02-01T00:07:35,en,0.794,0,M,NaN,NaN,NaN,NaN
4,1223398681312804866,2020-02-01T00:12:29,en,0.606,0,NaN,NaN,NaN,NaN,NaN

In [46]:
df.tail()

,tweet_id,date_time,lang,sentiment_conf,sentiment_label,gender_label,geo_country_code,geo_state,geo_county,geo_city
10027223,1377410239864176641,2021-03-31T23:59:26,ar,0.725,0,NaN,NaN,NaN,NaN,NaN
10027224,1377410257186553859,2021-03-31T23:59:31,ar,0.938,1,NaN,NaN,NaN,NaN,NaN
10027225,1377410257844985856,2021-03-31T23:59:31,ar,0.882,1,NaN,NaN,NaN,NaN,NaN
10027226,1377410323460673537,2021-03-31T23:59:46,ar,0.608,0,NaN,NaN,NaN,NaN,NaN
10027227,1377410334336581635,2021-03-31T23:59:49,ar,0.926,-1,NaN,NaN,NaN,NaN,NaN

In [47]:
df.shape

(10027228, 10)

### Filtering

In [49]:
newdf = df[(df.lang == "en")]

In [50]:
newdf.shape

(1348506, 10)

In [51]:
newdf.head()

,tweet_id,date_time,lang,sentiment_conf,sentiment_label,gender_label,geo_country_code,geo_state,geo_county,geo_city
0,1223395673850118145,2020-02-01T00:00:32,en,0.372,1,NaN,NaN,NaN,NaN,NaN
1,1223396003807522816,2020-02-01T00:01:51,en,0.718,0,NaN,NaN,NaN,NaN,NaN
2,1223396128328052736,2020-02-01T00:02:21,en,0.938,-1,NaN,NaN,NaN,NaN,NaN
3,1223397447482953728,2020-02-01T00:07:35,en,0.794,0,M,NaN,NaN,NaN,NaN
4,1223398681312804866,2020-02-01T00:12:29,en,0.606,0,NaN,NaN,NaN,NaN,NaN

### Exract Tweet IDs

In [56]:
tweet_ids = newdf["tweet_id"].tolist()
print(tweet_ids[0:10])

['1223395673850118145', '1223396003807522816', '1223396128328052736', '1223397447482953728', '1223398681312804866', '1223399295698731008', '1223399508429758466', '1223399654181736448', '1223399655616262144', '1223399668559814656']

In [58]:
tweets_ids_file = open("tweets_ids.txt", "w")
for element in tweet_ids:
    tweets_ids_file.write(element + "\n")
tweets_ids_file.close()